body {
    font-family:Arial,Helvetica,sans-serif;
    background-image:linear-gradient(to right, #060327,#006eff)
}
.box {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgba(0,0,0,0.7);
    padding:15px;
    border-radius:15px;
    color:#fff;
    min-width:320px;
    max-width:800px
}
fieldset {
    border:3px solid #006eff
}
legend {
    border:1px solid #006eff;
    padding:10px;
    text-align:center;
    background-color:#006eff;
    border-radius:8px
}
.inputBox {
    position:relative
}
.inputUser {
    background:none;
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    font-size:15px;
    width:100%;
    letter-spacing:2px;
    color: #fff;
}
.labelInput {
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
    transition:.5s
}
.inputUser:focus ~ .labelInput,.inputUser:valid ~ .labelInput {
    top:-20px;
    font-size:12px;
    color:#006eff
}
.cardapio {
    text-align:center
}
h4 {
    color:#fff
}
.tabela {
    text-align:center
}
.container {
    column-count:2
}
table {
    text-align:center
}
.itens {
    color:#fff;
    font-weight:700
}
#submit {
    background-image:linear-gradient(to right,#006eff,#060327);
    width:100%;
    height:50px;
    border-radius:10px;
    color: #fff;
}

